<div class="position-fixed top-0 start-0 w-100 h-100 bg-black bg-opacity-50 d-flex justify-content-center align-items-center" style="z-index: 1050;"
  (click)="cerrarPopup()"
>

  <div class="popup-window rounded-4 py-3 px-5 middle d-flex justify-content-center flex-column" (click)="$event.stopPropagation()">
    <div class="d-flex py-4 align-items-center">
      <fa-icon
        (click)="cerrarPopup()"
        [icon]="faArrowLeft"
        class="back-arrow fa-2x me-3 rounded-pill px-4 py-3"
        role="button"
      ></fa-icon>
      <h3 class="fw-bold"> {{ title }} </h3>
    </div>
    <div class="flex-grow-1">
      <ng-content class="flex-grow-1"></ng-content>
    </div>
  </div>

</div>
