@if (season$ | async; as item) {
    <div class="container-fluid pt-5 content-container position-relative overflow-visible">
      <div class="row row-cols-2 row-cols-md-3 g-0">

        <div class="col d-flex justify-content-center">
          <img
            [src]="'/media-images/' + item.imageTag + '_Primary.jpg'"
            class="poster shadow-lg"
            alt="Póster de la temporada"

          />
        </div>

        <div class="col d-flex flex-column">

          <h2>{{ item.name }}</h2>

          @if (item.name !== item.originalTitle){
            <h5 class="">{{ item.originalTitle }}</h5>
          }

          <div class="d-flex">

            @if(item.communityRating){
              <div class="d-flex justify-content-center p-1 me-4">
                <fa-icon [icon]="faStar" class="text-warning fa-1x"></fa-icon>
                <p class="ms-2">
                  {{ item.communityRating | number:'1.1-1' }}
                </p>
              </div>
            }

            <p class="p-1 rounded-3 bg-light-transparent">
              {{item.productionYear}}
            </p>

          </div>

        </div>

      </div>

      <div class="row mt-3 offset-md-4">

        <div class="col-12 col-md-8">
          <div class="mx-4 m-md-0 p-md-0">
            {{ item.overview }}
          </div>
        </div>

        <div class="col-1 col-md-2"></div>

      </div>

      <div class="row mt-4">
        <div class="offset-md-4 col-12 col-md-8">
          <div class="m-0 pt-4 p-md-0">

              @for(ep of getSortedEpisodes(item.episodes); track ep.id){
                <div class="card mb-4 bg-transparent text-light shadow border-0 rounded-2 overflow-hidden mx-4 ms-md-0">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img
                        [src]="'/media-images/' + ep.imageTag + '_Primary.jpg'"
                        class="img-fluid h-100 rounded-2"
                        alt="Thumbnail episodio">

                    </div>
                    <div class="col-md-7 p-2 ps-3 d-flex flex-column" style="max-height: 100%; overflow-y: auto;">
                      <h5 class="mb-2">{{ ep.episodeNumber }}.   {{ ep.name }}</h5>
                      <p class="mb-2 text-secondary" *ngIf="ep.communityRating">
                        <fa-icon [icon]="faHeart" class="text-warning fa-1x"></fa-icon>
                        {{ ep.communityRating | number:'1.1-1' }}
                      </p>
                      <p class="mb-0">{{ ep.overview }}</p>
                    </div>
                  </div>
                </div>
              }

          </div>
        </div>
      </div>
    </div>
}
