<div class="content-container container-fluid pt-5 overflow-visible d-flex flex-column flex-grow-1 h-100">

  <div class="row row-cols-2 row-cols-md-3 g-0">

    <div class="col d-flex justify-content-center">
      <img
        [src]="'/media-images/' + item.imageTag + '_Primary.jpg'"
        class="poster shadow-lg"
        alt="Póster de la película"
      />
    </div>

    <div class="col d-flex flex-column">

      <h2>{{ item.name }}</h2>

      @if (item.name !== item.originalTitle){
        <h5 class="">{{ item.originalTitle }}</h5>
      }

      <div class="d-flex">

        @if(item.communityRating){
          <div class="d-flex justify-content-center p-1">
            <fa-icon [icon]="faStar" class="text-warning fa-1x"></fa-icon>
            <p class="ms-2">
              {{ item.communityRating | number:'1.1-1' }}
            </p>
          </div>
        }

        <p class="ms-4 p-1 rounded-3 bg-light-transparent">
          {{item.productionYear}}
        </p>
        @if (isMovie(item)) {
          <p class="ms-2 p-1">
            {{item.runTimeTicks | ticksToTime}}
          </p>
        }


      </div>

    </div>
    @if(!isSeason(item)){
      <div class="col-12 d-flex pt-md-3 p-0">

        <div class="d-flex justify-content-md-end justify-content-center pt-2 pt-md-0 pe-md-5 flex-grow-1">
          <fa-icon
            [icon]="faHeart"
            class="mx-3 fa-2x"
            [ngClass]=" (favorito()) ? 'text-danger' : ''" style="cursor: pointer"
            (click)="showPopUp()"
          ></fa-icon>
        </div>


      </div>

    }

  </div>

  <div class="row mt-3 offset-md-4">

    <div class="col-12 col-md-8">
      <div class="mx-4 m-md-0 p-md-0">
        {{ item.overview }}
      </div>
    </div>

    <div class="col-1 col-md-2"></div>

  </div>

  <div class="row mt-3 offset-md-4">

    @if (favorito(); as favorito) {
      @if (favorito.rating && favorito.review) {

        <div class="col-12 col-md-8 pb-3">
          <div class="review-box mt-4 p-3 rounded-3">
            <h6 class="text-white-50 mb-2">Tu reseña</h6>
            <p class="mb-1 text-white">
              <strong>Puntuación:</strong>
              <fa-icon [icon]="faStar" class="text-warning ps-2"></fa-icon>
              {{ favorito.rating | number:'1.1-1'}}
            </p>
            <p class="mb-0 text-white text-wrap white-space-pre-line"><strong>Reseña:</strong> <br> {{ favorito.review }}</p>
          </div>
        </div>
        <div class="col-1 col-md-2"></div>

      }
    }

  </div>

  @if(isSerie(item)){
    <div class="row mt-3 offset-md-4">

      <div class="col-12 col-md-10">
        <div class="my-4 p-md-0">
          <app-media-list [items]="item.seasons"></app-media-list>
        </div>
      </div>
      <div class="col-1 col-md-2"></div>

    </div>
  }

  @if(isSeason(item)){
    <div class="row mt-4">
      <div class="offset-md-4 col-12 col-md-8">
        <div class="m-0 pt-4 p-md-0">

          @for(ep of getSortedEpisodes(item.episodes); track ep.id){
            <div class="card mb-4 bg-transparent text-light shadow border-0 rounded-2 overflow-hidden mx-4 ms-md-0">
              <div class="row g-0">
                <div class="col-md-5">
                  <img
                    [src]="'/media-images/' + ep.imageTag + '_Primary.jpg'"
                    class="img-fluid h-100 rounded-2"
                    alt="Thumbnail episodio">

                </div>
                <div class="col-md-7 p-2 ps-3 d-flex flex-column" style="max-height: 100%; overflow-y: auto;">
                  <h5 class="mb-2">{{ ep.episodeNumber }}.   {{ ep.name }}</h5>
                  <p class="mb-2 text-secondary" *ngIf="ep.communityRating">
                    <fa-icon [icon]="faStar" class="text-warning fa-1x"></fa-icon>
                    {{ ep.communityRating | number:'1.1-1' }}
                  </p>
                  <p class="mb-0">{{ ep.overview }}</p>
                </div>
              </div>
            </div>
          }

        </div>
      </div>
    </div>
  }




</div>

@if(mostrarPopup){
  <app-popup-container (cerrar)="mostrarPopup = false" [title]="'Agregar a favoritos'">
    <app-favorite-form (submitForm)="favoriteStore($event)"></app-favorite-form>
  </app-popup-container>
}
