<a [routerLink]="item.route" class="text-decoration-none">
<div class="card bg-transparent poster cursor-pointer border-0">
  <div class="position-relative m-0" style="padding-top: 150%; overflow: hidden;">
    @if (loading) {
      <div class="loading-gradient rounded-2 z-2 img"></div>
    }
      <img [src]="'/media-images/'+item.imageTag+'_Primary.jpg'"
           class="position-absolute top-0 start-0 w-100 h-100 rounded-2"
           style="object-fit: cover;"
           alt="Poster"
           (load)="onLoad()"      (error)="onError()">

  </div>
  <div class="card-body p-0 m-0 pt-2 position-relative">
    @if (loading){
      <div class="loading-gradient text rounded-2"></div>
    }
    <p class="text-truncate text-center mx-2 my-0 py-0 text-poster-title">
      {{ item.name }}
    </p>
    <p class="text-center mx-2 text-secondary small-text">
      {{ item.productionYear }}
    </p>
  </div>
</div>
</a>
