<div class="card border-0 bg-transparent poster">
  <div class="position-relative m-0" style="padding-top: 150%; overflow: hidden;">
    <img src="/posters/a-minecraft-movie-67c99b0a112b7.jpg"
         class="position-absolute top-0 start-0 w-100 h-100 rounded-2"
         style="object-fit: cover;"
         alt="Poster de la película">
  </div>
  <div class="card-body px-0 mx-0">
    <p class="card-title text-truncate text-center">
      A Minecraft Movieaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
  </div>
</div>
