<main class="container d-flex justify-content-center m-0">
  <div class="w-100 w-sm-auto p-2 d-flex flex-wrap justify-content-center">
      <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>
    <app-poster-basic></app-poster-basic>

  </div>
</main>
