<main class="container-fluid px-3 justify-content-center d-flex">
  <div class="middle row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-3">
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
      <app-poster-basic class="col"></app-poster-basic>
    </div>
</main>

