<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column">

  <div class="mb-3">

    <label class="form-label">Puntuación:</label>
    <input
      type="number"
      class="form-control"
      formControlName="rating"
      step="0.1"
      min="1"
      max="10"
    />

    @if(form.get('rating')?.invalid && form.get('rating')?.touched){
      <p class="form-text text-danger">
        Ingresá una puntuación válida entre 1 y 10.
      </p>
    }

  </div>

  <div class="mb-3">

    <label class="form-label">Reseña:</label>
    <textarea class="form-control" formControlName="review" rows="10"></textarea>

    @if(form.get('review')?.invalid && form.get('review')?.touched){
      <p class="form-text text-danger">
        La reseña es obligatoria (máx 1000 caracteres).
      </p>

    }

  </div>

  <button type="submit" class="btn btn-danger my-3 align-self-end" style="background: #E50914" [disabled]="form.invalid">
    Guardar
  </button>

</form>
