<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column">

  <div class="mb-3">

    <label class="form-label">Puntuación:</label>
    <input
      type="number"
      class="form-control"
      formControlName="rating"
      step="0.1"
      min="1"
      max="10"
    />

    <div *ngIf="form.get('rating') as rtng">
      <div *ngIf="rtng.hasError('required') && rtng.touched" class="text-danger">
        El campo es obligatorio
      </div>
      <div *ngIf="rtng.hasError('min')" class="text-danger">
        El valor mínimo es 1
      </div>
      <div *ngIf="rtng.hasError('max')" class="text-danger">
        El valor máximo es 10
      </div>
    </div>




  </div>

  <div class="mb-3">

    <label class="form-label">Reseña:</label>
    <textarea class="form-control" formControlName="review" rows="10"></textarea>

    <div *ngIf="form.get('review') as rvw">

      <div *ngIf="rvw.hasError('required') && rvw.touched" class="text-danger">
        El campo es obligatorio
      </div>

      <div *ngIf="rvw.hasError('maxlength')" class="text-danger">
        Máximo 1000 caracteres permitidos
      </div>
    </div>


  </div>

  <button type="submit" class="btn btn-danger my-3 align-self-end" style="background: #E50914" [disabled]="form.invalid">
    Guardar
  </button>

</form>
